/frontend/node_modules
/frontend/dist
/public/hot
/public/storage
/storage/*.key
/backend/vendor
/terraform/key.json
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/*.log
terraform/terraform_debug.log
terraform/*.tfvars
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
ssh_codex
/.github/workflows/.env.ci