/frontend/node_modules
/frontend/dist
/public/hot
/public/storage
/storage/*.key
/backend/vendor
google_key.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
terraform.tfvars.terraform/
google-cloud-cli-linux-x86_64.tar.gz
google-cloud-sdk/platform/bundledpythonunix/lib/libpython3.12.*
